:root {
    --primary-gradient: linear-gradient(to right, rgb(247, 170, 228), rgb(116, 218, 236));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

.studio-btn {
    background-image: linear-gradient(to right, pink, aqua);
    color: black;
    padding: 0.6%;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 560;
    cursor: pointer;
    padding: 10px;
    box-shadow: 0 0 15px rgba(53, 59, 55, 0.6);
    transition: all 0.3s ease;
    transform: translateX(90px);
}

.studio-btn:hover {
    background: #1db954;
    color: white;
    box-shadow: 0 0 30px rgba(29, 185, 84, 0.9)
}

html {
    cursor: url("icons8-cursor-24.png"), auto;
}

body {
    /*background: var(--primary-gradient);*/
    font-family: "Roboto", sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    background-color: green;
}

.motto {
    pointer-events: all;
    font-size: 40px;
    font-family: "Delius", cursive;
    font-weight: 400;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-style: normal;
}

.logo-img {
    width: 200px;
    background: white;
    border-radius: 5px;
    margin-top: 5px;
}

/* HERO SECTION */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
    /* stack on small screens */
    padding: 50px 20px;
    /* spacing from navbar */
}

.left-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-pic {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.quote {
    font-size: 28px;
    color: white;
    line-height: 1.5;
    font-family: "Delius", cursive;
    max-width: 500px;
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    box-shadow: 0 12px 30px rgba(20, 20, 20, 0.15);
    background-color: #7bae37;
    backdrop-filter: blur(6px);
}

.quote li {
    list-style: none;
    font-size: 25px;
}

.footer {
    width: 100%;
    height: 8%;
    position: fixed;
    bottom: 0;
    background-color: rgb(39, 38, 38);
}

a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    line-height: 1.5;
    list-style: none;

}

.links {
    display: flex;
    gap: 20%;
    padding-left: 30px;
    flex-direction: row;
}

.offer-cards {
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    justify-content: center;
}

.offer-cards li {
    list-style-type: square;
}

.card {
    background-image: linear-gradient(to right, pink, aqua);
    font-family: "Playpen Sans", cursive;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    height: 220px;
    width: 300px;
    padding-top: 10px;
    padding-left: 30px;
    line-height: 3;
    font-size: 22px;
    border-radius: 20px;
    cursor: pointer;
}

.card:hover {
    background-image: linear-gradient(to right, yellowgreen);
}

.map-section {
    display: flex;
    border-radius: 25px;
    flex-direction: column;
    align-items: center;
    height: 700px;
}

.map-iframe {
    border: 2px solid black;
    border-radius: 25px;
}

.whatsapp-float {
    position: fixed;
    bottom: 70px;
    right: 20px;
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("icons8-whatsapp-100.png");
    border-radius: 50%;
}

.whatsapp-float:hover {
    transform: scale(1.5);
    transition: 700ms;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

/* TABLET VIEW */
@media (max-width: 1024px) {
    .container {
        gap: 30px;
        padding: 40px 15px;
    }

    .quote {
        font-size: 24px;
        text-align: center;
    }

    .hero-pic {
        width: 300px;
        height: auto;
    }
}

/* MOBILE VIEW */
@media (max-width: 768px) {
    .logo-img {
        width: 100px;
        height: 30px;
        margin-top: 5px;
        margin-left: 5px;
    }

    .motto {
        font-size: 18px;
        font-family: none;
        height: 20px;
    }

    .container {
        flex-direction: column;
        /* stack image and quote */
        padding: 30px 10px;
        gap: 25px;
    }

    .quote {
        font-size: 20px;
        text-align: left;
        max-width: 90%;
    }

    .hero-pic {
        width: 100%;
        max-width: 250px;
        height: auto;
    }

    .links {
        font-size: 14px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .whatsapp-float {
        position: fixed;
        bottom: 70px;
        right: -5px;
        height: 70px;
        width: 70px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url("icons8-whatsapp-100.png");
        border-radius: 50%;
    }
}
